########################################
# GCode Macros
########################################

# Print Job Management #################

[gcode_macro START_PRINT] # START_PRINT EXTRUDER_TEMP=[first_layer_temperature] BED_TEMP=[first_layer_bed_temperature]
default_parameter_EXTRUDER_TEMP: 230
default_parameter_BED_TEMP: 70
gcode:
    CLEAR_PAUSE
    M140 S{BED_TEMP}                    # set
    M190 S{BED_TEMP}                    # wait until
    M104 S{EXTRUDER_TEMP}               # set
    G90                                 # absolute positioning
    M82                                 # absolute extruder mode
    G28                                 # home
    M109 S{EXTRUDER_TEMP}               # wait until
    G92 E0                              # reset extruder
    PRIME_LINE

[gcode_macro END_PRINT]
gcode:
    TURN_OFF_HEATERS
    M106 S0                             # turn off fan
    G91                                 # relative positioning
    G1 E-5 F900                         # retract
    G1 X-2 Y-2 F300                     # wipe
    G90                                 # absolute positioning
    PARK
    M84                                 # turn off all motors
    SAVE_IF_SET

[gcode_macro PAUSE_PRINT]
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_STATE
    PAUSE
    PARK

[gcode_macro PARK]
default_parameter_X: 0                  # edit to your park position
default_parameter_Y: 200                # edit to your park position
default_parameter_Z: 10                 # edit to your park position
gcode:
    SAVE_GCODE_STATE NAME=PARK_STATE
    G10                                 # firmware retract
    G1 Z{ [printer.gcode_move.gcode_position.z + 20,printer.configfile.config["stepper_z"]["position_max"]|float]|min } F5000
    G1 X{X} Y{Y} F3000                  # park the head
    RESTORE_GCODE_STATE name=PARK_STATE

[gcode_macro RESUME_PRINT]
gcode:
    G11                                 # firmware unretract
    RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
    RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    # TURN_OFF_HEATERS
    CLEAR_PAUSE
    PARK
    BASE_CANCEL_PRINT

# Prime the nozzle #####################

[gcode_macro PRIME_LINE] # PRIME_LINE F={first_layer_speed*60} Z=[first_layer_height] E={(75*0.5*first_layer_height)/(3.14*(1.75/2)*(1.75/2))}
default_parameter_X: 90
default_parameter_Y: 5
default_parameter_Z: 0.2
default_parameter_F: 500
default_parameter_E: 5
gcode: 
    SAVE_GCODE_STATE NAME=PRIME_LINE_STATE
    SET_IDLE_TIMEOUT TIMEOUT=7200
    G1 Z5 F240                          # move Z Axis up
    G1 X{X} Y{Y} Z{Z} F12000            # move to start position
    G91                                 # relative positioning
    G1 X+75 E{E} F{F}                   # draw the 1st line
    G1 Y.5 F5000                        # move to side a little
    G1 X-75 E{E} F{F}                   # draw the 2nd line
    G1 Y.5 F5000                        # move to side a little
    G1 X+75 E{E} F{F}                   # draw the 3rd line
    G1 Y.5 F5000                        # move to side a little
    G1 X-75 E{E} F{F}                   # draw the 4th line
    RESTORE_GCODE_STATE NAME=PRIME_LINE_STATE

# Filament Change ######################

[gcode_macro M600]
gcode:
    SAVE_GCODE_STATE NAME=FILAMENT_CHANGE
    PAUSE
    SET_IDLE_TIMEOUT TIMEOUT=7200
    UNLOAD_FILAMENT
    COUNTDOWN TIME=30 MSG="Switch"
    LOAD_FILAMENT
    RESUME
    RESTORE_GCODE_STATE NAME=FILAMENT_CHANGE

[gcode_macro LOAD_FILAMENT]
default_parameter_L: 70
gcode:
    SAVE_GCODE_STATE NAME=LOAD_STATE
    LOW_TEMP_CHECK
    M83                                 # relative extrusion
    G1 E{L} F1200                       # extrude fast
    G4 P1000                            # dwell 1 second
    G1 E10 F250                         # extrude slow
    RESTORE_GCODE_STATE name=LOAD_STATE

[gcode_macro UNLOAD_FILAMENT]
default_parameter_L: 70
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_STATE
    LOW_TEMP_CHECK
    M83                                 # relative extrusion
    G1 E0.5  F1200                      # clean nozzle
    G1 E-0.5 F1200
    G1 E1.0  F1200
    G1 E-1.0 F1200
    G1 E1.5  F1200
    G1 E-1.5 F1200
    G1 E2.0  F1200
    G1 E-{L} F3000                      # retract a lot
    RESTORE_GCODE_STATE name=UNLOAD_STATE

[gcode_macro LOW_TEMP_CHECK]
default_parameter_T: 200
gcode:
    {% if printer.extruder.target != 0 %} # if there is a setpoint for extruder
        {% if printer.extruder.temperature < printer.extruder.target %} # if not reached, heat
            M118 Heating from {printer.extruder.temperature} to {printer.extruder.target}.
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %} # if no setpoint for extruder
        {% if printer.extruder.target < T %}  # heat to T.
            M118 No setpoint, heating to {T}.
            M109 S{T}
        {% endif %}
    {% endif %}

[gcode_macro COUNTDOWN]
default_parameter_MSG: "Time: "
default_parameter_TIME: 10
gcode: 
    {% for s in range(TIME|int, 0, -1) %} # countdown
        G4 P1000                        # dwell 1 second
        M117 {params.MSG} {s}s          # echo
        M118 {params.MSG} {s}s
    {% endfor %}

# Movement #############################

[gcode_macro M201] # Set Max Acceleration
default_parameter_A: 3000
gcode:
  SET_VELOCITY_LIMIT ACCEL={A} ACCEL_TO_DECEL={A|float / 2}

[gcode_macro M203] # Set Max Feedrate
default_parameter_V: 150
gcode:
  SET_VELOCITY_LIMIT VELOCITY={V}

[gcode_macro M205] # Set Jerk
default_parameter_J: 5
gcode:
  SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY={J}

[gcode_macro M207] # Set Firmware Retraction
default_parameter_S: 0.5
default_parameter_F: 20
gcode:
  SET_RETRACTION RETRACT_LENGTH={S} RETRACT_SPEED={F}

[gcode_macro M900] # Set Pressure Advance
default_parameter_K: 0
gcode:
    SET_PRESSURE_ADVANCE ADVANCE={K}

[gcode_macro M92]
default_parameter_E: 0.002445
SET_EXTRUDER_STEP_DISTANCE DISTANCE={E}

[gcode_macro HOME]
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
        M118 Printer is already homed
    {% else %}
        G28
    {% endif %}

# Save Config ##########################

[gcode_macro SAVE_AT_END]
variable_save: 0
gcode:
    SET_GCODE_VARIABLE MACRO=SAVE_AT_END VARIABLE=save VALUE=1
 
[gcode_macro SAVE_IF_SET]
gcode:
    {% if printer["gcode_macro SAVE_AT_END"].save == 1 %}
        G4 P2000                        # dwell 2 seconds
        {action_respond_info("Saving and restarting now")}
        SAVE_CONFIG
    {% endif %}

[gcode_macro M500]
gcode:
    SAVE_CONFIG

# Tune #################################

[gcode_macro M303] # PID Autotune
default_parameter_E: 0
default_parameter_T: 0
gcode:
    {% if params.E == 0 %}
        PID_CALIBRATE HEATER=extruder TARGET={T}
    {% else if params.E == -1 %}
        PID_CALIBRATE HEATER=heater_bed TARGET={T}
    {% endif %}
