################################################################################
# Printer: Flying Bear Ghost 5
# Board: MKS Robin Nano 1.1
################################################################################

########################################
# Instructions
########################################

# Documentation
# https://www.klipper3d.org/Overview.html#configuration-and-tuning-guides
# 
# Examples
# https://github.com/KevinOConnor/klipper/blob/master/config/example.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/example-extras.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/sample-macros.cfg
# https://github.com/KevinOConnor/klipper/blob/master/docs/Command_Templates.md

# MKS Robin Nano 1.1 ###################
#
# This file contains common pin mappings for MKS Robin Nano (v1.2.004)
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable ëxtra low-level
# configuration setup", select the 28KiB bootloader, disable ÜSB for
# communication", and select USART3 for the "Serial Port".
#
# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin to an SD card and then restart the
# printer with that SD card.
#
# TMC UART https://youtu.be/7ShcFKXrVHo

########################################
# X, Y, Z
########################################

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
step_distance: .0125 # 16 microsteps  80 steps/mm 1.8° stepper
endstop_pin: !PA15
position_min: -1.3
position_endstop: -1.3
position_max: 255
homing_speed: 50
homing_retract_dist: 5

# [tmc2209 stepper_x]
# uart_pin: PA10
# microsteps: 16
# interpolate: true
# run_current: 0.800
# hold_current: 0.500
# stealthchop_threshold: 250

[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
step_distance: .0125 # 16 microsteps  80 steps/mm 1.8° stepper
endstop_pin: !PA12
position_min: -4.8
position_endstop: -4.8
position_max: 210
homing_speed: 50
homing_retract_dist: 5

# [tmc2209 stepper_y]
# uart_pin: PA9
# microsteps: 16
# interpolate: true
# run_current: 0.800
# hold_current: 0.500
# stealthchop_threshold: 250

[stepper_z]
step_pin: PB5
dir_pin: !PB4 # !PB4 TMC220X@FBG5 # PB4 A4988@FBG5
enable_pin: !PB8
step_distance: .0025 # 16 microsteps 400 steps/mm
endstop_pin: !PA11
position_endstop: 0.5
position_max: 200
homing_speed: 20

# [tmc2209 stepper_z]
# uart_pin: PC7
# microsteps: 16
# interpolate: true
# run_current: 0.800
# hold_current: 0.500
# stealthchop_threshold: 30

########################################
# E0, E1, HB
########################################

[extruder]
step_pin: PD6
dir_pin: !PD3 # !PD3 TMC220X@FBG5 # PD3 A4988@FBG5
enable_pin: !PB3
step_distance: .002445 # 16 microsteps 409 steps/mm
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PC3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
# pid_Kp: 32.561    # ∅0.4 Nozzle
# pid_Ki: 3.743     # ∅0.4 Nozzle
# pid_Kd: 70.820    # ∅0.4 Nozzle
pid_Kp: 25.878    # ∅0.8 Nozzle
pid_Ki: 1.513     # ∅0.8 Nozzle
pid_Kd: 110.627   # ∅0.8 Nozzle
min_temp: 0
max_temp: 260
max_extrude_only_distance: 50 # 50 direct; 600 bowden
###   PRESSURE ADVANCE CONFIG    ###
pressure_advance: 0.200
# Filament specific g-code (works in (prusa-|super-)slicer)
# SET_PRESSURE_ADVANCE [EXTRUDER=<config_name>] [ADVANCE=<pressure_advance>] [SMOOTH_TIME=<pressure_advance_smooth_time>]
## PLA:
# pressure_advance: 0.200 # FBG PLA Black

# [tmc2209 extruder]
# uart_pin: PC13
# microsteps: 16
# interpolate: False
# run_current: 0.800
# hold_current: 0.500
# stealthchop_threshold: 50

#[extruder1]
#step_pin: PA6
#dir_pin: !PA1
#enable_pin: !PA3
#heater_pin: PB0
#sensor_pin: PC2
#...

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 57.591
pid_Ki: 1.634
pid_Kd: 507.525
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 150

########################################
# Fans
########################################

[fan]
pin: PB1

[heater_fan heater_fan]
pin: PB0 # extruder1 heater_pin
# heater: extruder
heater_temp: 60.0   # fan is on if t℃ > this
# fan_speed: 1.0 # from 0.0 to 1.0

########################################
# Printer
########################################

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000
# max_accel_to_decel: 3000
# max_accel: 7000 # Ringing frequency test
# max_accel_to_decel: 7000 # Ringing frequency test
max_z_velocity: 20
max_z_accel: 150
square_corner_velocity: 5.0

########################################
# Bed leveling
########################################

########################################
# Optional G-Code features
########################################

[force_move]
enable_force_move: true # Support manually moving stepper motors

[pause_resume]

[firmware_retraction]
retract_length: 0.5
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 30

[gcode_arcs]

[respond]

########################################
# Resonance compensation
########################################

[input_shaper]
shaper_freq_x: 43.442
shaper_freq_y: 46.679
shaper_type: ei

########################################
# GCode Macros
########################################

# Start Print and End Print ############

[gcode_macro START_PRINT] # START_PRINT EXTRUDER_TEMP=[first_layer_temperature] BED_TEMP=[first_layer_bed_temperature]
default_parameter_EXTRUDER_TEMP: 230
default_parameter_BED_TEMP: 70
gcode:
    CLEAR_PAUSE
    M140 S{BED_TEMP}                    # set
    {% if printer.heater_bed.temperature < params.BED_TEMP|float*0.85 %}
        M190 S{params.BED_TEMP|float*0.85} # wait till 0.85 of bed temp is reached, then continue
    {% endif %}
    M104 S{EXTRUDER_TEMP}               # set
    M109 S{EXTRUDER_TEMP}               # wait
    M190 S{BED_TEMP}                    # wait
    G90                                 # absolute positioning
    M82                                 # absolute extruder mode
    G28                                 # home
    G92 E0                              # reset extruder
    PRIME_LINE

[gcode_macro END_PRINT]
gcode:
    TURN_OFF_HEATERS
    M106 S0                             # turn off fan
    G91                                 # relative positioning
    G1 E-5 F3000
    G1 X-2 Y-2 F300                     # wipe
    G90                                 # absolute positioning
    PARK
    M84                                 # turn off all motors
    SAVE_IF_SET

# Prime the nozzle #####################

[gcode_macro PRIME_LINE] # SET_GCODE_VARIABLE MACRO=PRIME_LINE VARIABLE=feedrate VALUE=3000
default_parameter_X: 90
default_parameter_Y: 5
default_parameter_X: 0.28
variable_feedrate: 500 # 500 for ~FLEX, 1500 - 3000 for others
gcode: 
    SAVE_GCODE_STATE NAME=PRIME_LINE_STATE
    SET_IDLE_TIMEOUT TIMEOUT=7200
    G1 Z5 F240                          # move Z Axis up
    G1 X{X} Y{Y} Z{Z} F12000            # move to start position
    G91                                 # relative positioning
    G1 E5 F{feedrate}                   # deretract
    G1 X+75 E5 F{feedrate}              # draw the 1st line
    G1 Y.3 F5000                        # move to side a little
    G1 X-75 E5 F{feedrate}              # draw the 2nd line
    G1 Y.3 F5000                        # move to side a little
    G1 X+75 E5 F{feedrate}              # draw the 3rd line
    G1 Y.3 F5000                        # move to side a little
    G1 X-75 E5 F{feedrate}              # draw the 4th line
    RESTORE_GCODE_STATE NAME=PRIME_LINE_STATE

# Pause Print and Resume Print #########

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_STATE
    BASE_PAUSE
    PARK

[gcode_macro PARK]
default_parameter_X: 0                  # edit to your park position
default_parameter_Y: 200                # edit to your park position
default_parameter_Z: 10                 # edit to your park position
gcode:
    SAVE_GCODE_STATE NAME=PARK_STATE
    G10                                 # firmware retract
    G1 Z{ [printer.gcode_move.gcode_position.z + 20,printer.configfile.config["stepper_z"]["position_max"]|float]|min } F5000
    G1 X{X} Y{Y} F3000                  # park the head
    RESTORE_GCODE_STATE name=PARK_STATE

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G11                                 # firmware unretract
    RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    # TURN_OFF_HEATERS
    CLEAR_PAUSE
    PARK
    BASE_CANCEL_PRINT

# Filament Change ######################

[gcode_macro M600]
gcode:
    SAVE_GCODE_STATE NAME=FILAMENT_CHANGE
    PAUSE
    SET_IDLE_TIMEOUT TIMEOUT=7200
    UNLOAD_FILAMENT
    COUNTDOWN TIME=30 MSG="Switch"
    LOAD_FILAMENT
    RESUME
    RESTORE_GCODE_STATE NAME=FILAMENT_CHANGE

[gcode_macro LOAD_FILAMENT]
default_parameter_L: 50
gcode:
    SAVE_GCODE_STATE NAME=LOAD_STATE
    LOW_TEMP_CHECK
    M83                                 # relative extrusion
    G1 E{L} F1200                       # extrude fast
    G4 P1000                            # dwell 1 second
    G1 E10 F250                         # extrude slow
    RESTORE_GCODE_STATE name=LOAD_STATE

[gcode_macro UNLOAD_FILAMENT]
default_parameter_L: 50
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_STATE
    LOW_TEMP_CHECK
    M83                                 # relative extrusion
    G1 E0.5  F1200                      # clean nozzle
    G1 E-0.5 F1200
    G1 E1.0  F1200
    G1 E-1.0 F1200
    G1 E1.5  F1200
    G1 E-1.5 F1200
    G1 E2.0  F1200
    G1 E-{L} F3000                      # retract a lot
    RESTORE_GCODE_STATE name=UNLOAD_STATE

[gcode_macro LOW_TEMP_CHECK]
default_parameter_T: 200
gcode:
    {% if printer.extruder.target != 0 %} # if there is a setpoint for extruder
        {% if printer.extruder.temperature < printer.extruder.target %} # if not reached, heat
            M118 Heating from {printer.extruder.temperature} to {printer.extruder.target}.
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %} # if no setpoint for extruder
        {% if printer.extruder.target < T %}  # heat to T.
            M118 No setpoint, heating to {T}.
            M109 S{T}
        {% endif %}
    {% endif %}

[gcode_macro COUNTDOWN]
default_parameter_MSG: "Time: "
default_parameter_TIME: 10
gcode: 
    {% for s in range(TIME|int, 0, -1) %} # countdown
        G4 P1000                        # dwell 1 second
        M117 {params.MSG} {s}s          # echo
        M118 {params.MSG} {s}s
    {% endfor %}

# [gcode_macro PURGE]
# gcode:
#     SAVE_GCODE_STATE NAME=PURGE_STATE
#     G91                                  # relative positioning
#     G1 E50 F250                          # purge
#     RESTORE_GCODE_STATE name=PURGE_STATE

# Home #################################

[gcode_macro HOME]
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
        M118 Printer is already homed
    {% else %}
        G28
    {% endif %}

# Delayed Save Config ##################

[gcode_macro SAVE_AT_END]
variable_save: 0
gcode:
    SET_GCODE_VARIABLE MACRO=SAVE_AT_END VARIABLE=save VALUE=1
 
[gcode_macro SAVE_IF_SET]
gcode:
    {% if printer["gcode_macro SAVE_AT_END"].save == 1 %}
        {printer.gcode.action_respond_info("Saving and restarting now")}
        SAVE_CONFIG
    {% endif %}

# Prusa Slicer Compatibility ############

[gcode_macro M204]
rename_existing: M204.1
gcode:
  {action_respond_info("Ignoring M204 Command: Using max_accel from printer.cfg")}

[gcode_macro M201]
gcode:
  {action_respond_info("Ignoring M201 Command")}

[gcode_macro M203]
gcode:
  {action_respond_info("Ignoring M203 Command")}

[gcode_macro M205]
gcode:
  {action_respond_info("Ignoring M205 Command")}

# Testing Area #########################

[gcode_macro PRIME_BLOB] # SET_GCODE_VARIABLE MACRO=PRIME_BLOB VARIABLE=feedrate VALUE=3000; 500 for TPU
variable_feedrate: 500
default_parameter_E: 20
gcode: 
    G1 Z5 F240                          # move Z Axis up
    G1 E{E} F{feedrate}                 # extrude blob
    G1 Y10 F3000                        # wipe

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
