################################################################################
# Printer: Flying Bear Ghost 5
# Board: MKS Robin Nano 1.1
################################################################################

# [include tmc.cfg] - enable if using TMC drivers via UART
[include resonance.cfg] - enable if using Resonance Compensation

########################################
# Instructions
########################################

# Documentation
# https://www.klipper3d.org/Overview.html#configuration-and-tuning-guides
# 
# Examples
# https://github.com/KevinOConnor/klipper/blob/master/config/example.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/example-extras.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/sample-macros.cfg
# https://github.com/KevinOConnor/klipper/blob/master/docs/Command_Templates.md

# MKS Robin Nano 1.1 ###################
#
# This file contains common pin mappings for MKS Robin Nano (v1.2.004)
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable ëxtra low-level
# configuration setup", select the 28KiB bootloader, disable ÜSB for
# communication", and select USART3 for the "Serial Port".
#
# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin to an SD card and then restart the
# printer with that SD card.
#
# TMC UART https://youtu.be/7ShcFKXrVHo

########################################
# X, Y, Z
########################################

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
step_distance: .0125                    # 16 microsteps 80 steps/mm 1.8° stepper
endstop_pin: !PA15
position_min: -1.3
position_endstop: -1.3
position_max: 255
homing_speed: 50
homing_retract_dist: 5

[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
step_distance: .0125                    # 16 microsteps 80 steps/mm 1.8° stepper
endstop_pin: !PA12
position_min: -4.8
position_endstop: -4.8
position_max: 210
homing_speed: 50
homing_retract_dist: 5

[stepper_z]
step_pin: PB5
dir_pin: !PB4                           # !PB4 for TMC220X @ FBG5; PB4 for A4988 @ FBG5
enable_pin: !PB8
step_distance: .0025                    # 16 microsteps 400 steps/mm
endstop_pin: !PA11
position_endstop: 0.5
position_max: 200
homing_speed: 20

########################################
# E0, E1, HB
########################################

[extruder]
step_pin: PD6
dir_pin: !PD3                           # !PD3 TMC220X @ FBG5; PD3 A4988 @ FBG5
enable_pin: !PB3
step_distance: .002445                  # 16 microsteps 409 steps/mm
nozzle_diameter: 0.800
filament_diameter: 1.750
max_extrude_only_velocity: 50
max_extrude_only_accel: 3000
instantaneous_corner_velocity: 1.500
heater_pin: PC3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
pid_Kp: 25.878                          # 32.561 @ ∅0.4 Nozzle; 25.878  @ ∅0.8 Nozzle
pid_Ki: 1.513                           # 3.743  @ ∅0.4 Nozzle; 1.513   @ ∅0.8 Nozzle
pid_Kd: 110.627                         # 70.820 @ ∅0.4 Nozzle; 110.627 @ ∅0.8 Nozzle
min_temp: 0
max_temp: 280
# PRESSURE ADVANCE SETTINGS ############
pressure_advance: 0.200
## Filament specific g-code (works in (prusa-|super-)slicer):
## SET_PRESSURE_ADVANCE [EXTRUDER=<config_name>] [ADVANCE=<pressure_advance>] [SMOOTH_TIME=<pressure_advance_smooth_time>]

#[extruder1]
#step_pin: PA6
#dir_pin: !PA1
#enable_pin: !PA3
#heater_pin: PB0
#sensor_pin: PC2
#...

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 57.591
pid_Ki: 1.634
pid_Kd: 507.525
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 150

########################################
# Fans
########################################

[fan]
pin: PB1

[heater_fan heater_fan]
pin: PB0                                # extruder1 heater_pin
heater_temp: 60.0                       # fan is on if t℃ > this
# fan_speed: 1.0                        # from 0.0 to 1.0

########################################
# Printer
########################################

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000                         # 3000 # Ringing frequency test: 7000
max_accel_to_decel: 2000                # 2000 # Ringing frequency test: 7000
max_z_velocity: 20
max_z_accel: 300
square_corner_velocity: 10.0            # 10.0 # Ringing frequency test: 5.0

########################################
# Optional G-Code features
########################################

[force_move]
enable_force_move: true                 # Support manually moving stepper motors

[firmware_retraction]
retract_length: 0.5
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 30

[gcode_arcs]

[respond]

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

########################################
# Bed leveling
########################################

[bed_screws]
screw1: 25,30
screw1_name: front left screw
screw2: 230,30
screw2_name: front right screw
screw3: 230,180
screw3_name: back right screw
screw4: 25,180
screw4_name: back left screw
speed: 150.

########################################
# GCode Macros
########################################

[include macros.cfg]
