################################################################################
# Printer: Flying Bear Ghost 5
# Board: MKS Robin Nano 1.1
################################################################################

########################################
# Instructions
########################################

# Documentation
# https://www.klipper3d.org/Overview.html#configuration-and-tuning-guides

# Examples
# https://github.com/KevinOConnor/klipper/blob/master/config/example.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/example-extras.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/sample-macros.cfg
# https://www.klipper3d.org/Command_Templates.html

# MKS Robin Nano 1.1 ###################

# Board reference
# https://github.com/KevinOConnor/klipper/blob/master/config/generic-mks-robin-nano-v1.cfg
# See https://www.klipper3d.org/Config_Reference.html for a description of parameters.

# This file contains common pin mappings for MKS Robin Nano (v1.2.004)
# boards. To use this config, the firmware should be compiled for the
# STM32F103. When running "make menuconfig", enable "extra low-level
# configuration setup", select the 28KiB bootloader, disable "USB for
# communication", and select USART3 for the "Serial Port".

# Note that the "make flash" command does not work with MKS Robin
# boards. After running "make", run the following command:
#   ./scripts/update_mks_robin.py out/klipper.bin out/Robin_nano35.bin
# Copy the file out/Robin_nano35.bin to an SD card and then restart the
# printer with that SD card.

# TMC UART https://youtu.be/7ShcFKXrVHo

########################################
# Included configs
########################################

# [include tmc.cfg]                     # enable if using TMC drivers via UART

[include resonance.cfg]                 # enable if using Resonance Compensation

[include macros.cfg]

########################################
# X, Y, Z
########################################

[stepper_x]
step_pin: PE3
dir_pin: PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 40
endstop_pin: !PA15
position_min: -1.3
position_endstop: -1.3
position_max: 255
homing_speed: 50
homing_retract_dist: 5

[stepper_y]
step_pin: PE0
dir_pin: PB9
enable_pin: !PE1
microsteps: 16
rotation_distance: 40
endstop_pin: !PA12
position_min: -4.8
position_endstop: -4.8
position_max: 210
homing_speed: 50
homing_retract_dist: 5

[stepper_z]
step_pin: PB5
dir_pin: !PB4                           # TMC220X
enable_pin: !PB8
microsteps: 16
rotation_distance: 8
endstop_pin: !PA11
position_endstop: 0
position_max: 205
homing_speed: 25

########################################
# E0, E1, HB
########################################

[extruder]
step_pin: PD6
dir_pin: !PD3                           # TMC220X
enable_pin: !PB3
microsteps: 16
rotation_distance: 7.800                # step_distance: .002445 # 409 steps/mm
nozzle_diameter: 0.400
filament_diameter: 1.750
instantaneous_corner_velocity: 1.500
max_extrude_only_distance: 100          # 100 direct; 600 bowden
pressure_advance: 0.200                 # SET_PRESSURE_ADVANCE [EXTRUDER=<config_name>] [ADVANCE=<pressure_advance>] [SMOOTH_TIME=<pressure_advance_smooth_time>]
heater_pin: PC3
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
control: pid
pid_Kp: 30.891                          # 30.891 @ ∅0.4 Nozzle; 25.878  @ ∅0.8 Nozzle
pid_Ki: 2.542                           # 2.542  @ ∅0.4 Nozzle; 1.513   @ ∅0.8 Nozzle
pid_Kd: 93.830                          # 93.830 @ ∅0.4 Nozzle; 110.627 @ ∅0.8 Nozzle
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
control: pid
pid_Kp: 63.104
pid_Ki: 2.350
pid_Kd: 423.586
min_temp: 0
max_temp: 130

########################################
# Fans
########################################

[fan]
pin: PB1

[heater_fan heater_fan]
pin: PB0                                # extruder1 heater_pin

########################################
# Printer
########################################

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 250
max_accel: 3000                         # 3000 # 7000 @ Ringing frequency test
max_accel_to_decel: 2000                # 2000 # 7000 @ Ringing frequency test
max_z_velocity: 25
max_z_accel: 100
square_corner_velocity: 10.0            # 10.0 # Ringing frequency test: 5.0

########################################
# Optional G-Code features
########################################

[force_move]
enable_force_move: True                 # Support manually moving stepper motors

[firmware_retraction]
retract_length: 0.5

[gcode_arcs]

[respond]

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

########################################
# Bed leveling
########################################

[bed_screws]
screw1: 25,30
screw1_name: front left screw
screw2: 230,30
screw2_name: front right screw
screw3: 230,180
screw3_name: back right screw
screw4: 25,180
screw4_name: back left screw
speed: 150
