########################################
# Resonance compensation
########################################

[input_shaper]
shaper_type_x = 3hump_ei
shaper_freq_x = 57.8
shaper_type_y = 3hump_ei
shaper_freq_y = 50.0

########################################
# Measuring Resonances
########################################
# https://github.com/KevinOConnor/klipper/blob/master/docs/Measuring_Resonances.md

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None
# axes_map: z,x,y

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
# #    30,100,20
#     120,100,20  # center
# #    210,100,20
