########################################
# TMC UART
########################################

[tmc2209 stepper_x]
uart_pin: PA10
microsteps: 16
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_y]
uart_pin: PA9
microsteps: 16
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_z]
uart_pin: PC7
microsteps: 16
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 30

[tmc2209 extruder]
uart_pin: PC13
microsteps: 16
interpolate: False
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 50

