########################################
# GCode Macros
########################################

# Start Print and End Print ############

[gcode_macro START_PRINT] # START_PRINT EXTRUDER_TEMP=[first_layer_temperature] BED_TEMP=[first_layer_bed_temperature] CREATE_MESH=0
default_parameter_EXTRUDER_TEMP: 230
default_parameter_BED_TEMP: 70
default_parameter_CREATE_MESH: 0
gcode:
    CLEAR_PAUSE
    M140 S{BED_TEMP}                    # set
    M190 S{BED_TEMP}                    # wait
    M104 S{EXTRUDER_TEMP}               # set
    G90                                 # absolute positioning
    M82                                 # absolute extruder mode
    G28                                 # home
    {% if params.CREATE_MESH == 1 %}
        {action_respond_info("Creating new mesh now")}
        G29
        G28 Z
    {% else %}
        BED_MESH_PROFILE LOAD=default
    {% endif %}
    M109 S{EXTRUDER_TEMP}               # wait
    G92 E0                              # reset extruder
    PRIME_LINE

[gcode_macro END_PRINT]
gcode:
    TURN_OFF_HEATERS
    M106 S0                             # turn off fan
    G91                                 # relative positioning
    G1 E-5 F3000
    G1 X-2 Y-2 F300                     # wipe
    G90                                 # absolute positioning
    PARK
    M84                                 # turn off all motors
    SAVE_IF_SET

# Prime the nozzle #####################

[gcode_macro PRIME_LINE] # SET_GCODE_VARIABLE MACRO=PRIME_LINE VARIABLE=feedrate VALUE=3000
default_parameter_X: 0
default_parameter_Y: 5
default_parameter_Z: 0.28
variable_feedrate: 500 # 500 for ~FLEX, 1500 - 3000 for others
gcode: 
    SAVE_GCODE_STATE NAME=PRIME_LINE_STATE
    SET_IDLE_TIMEOUT TIMEOUT=7200
    G1 Z5 F240                          # move Z Axis up
    G1 X{X} Y{Y} Z{Z} F12000            # move to start position
    G91                                 # relative positioning
    G1 E5 F{feedrate}                   # deretract
    G1 X+75 E5 F{feedrate}              # draw the 1st line
    G1 Y.3 F5000                        # move to side a little
    G1 X-75 E5 F{feedrate}              # draw the 2nd line
    G1 Y.3 F5000                        # move to side a little
    G1 X+75 E5 F{feedrate}              # draw the 3rd line
    G1 Y.3 F5000                        # move to side a little
    G1 X-75 E5 F{feedrate}              # draw the 4th line
    RESTORE_GCODE_STATE NAME=PRIME_LINE_STATE

# Pause Print and Resume Print #########

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_STATE
    BASE_PAUSE
    PARK

[gcode_macro PARK]
default_parameter_X: 0                  # edit to your park position
default_parameter_Y: 200                # edit to your park position
default_parameter_Z: 10                 # edit to your park position
gcode:
    SAVE_GCODE_STATE NAME=PARK_STATE
    G10                                 # firmware retract
    G1 Z{ [printer.gcode_move.gcode_position.z + 20,printer.configfile.config["stepper_z"]["position_max"]|float]|min } F5000
    G1 X{X} Y{Y} F3000                  # park the head
    RESTORE_GCODE_STATE name=PARK_STATE

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G11                                 # firmware unretract
    RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
    BASE_RESUME

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    # TURN_OFF_HEATERS
    CLEAR_PAUSE
    PARK
    BASE_CANCEL_PRINT

# Filament Change ######################

[gcode_macro M600]
gcode:
    SAVE_GCODE_STATE NAME=FILAMENT_CHANGE
    PAUSE
    SET_IDLE_TIMEOUT TIMEOUT=7200
    UNLOAD_FILAMENT
    COUNTDOWN TIME=30 MSG="Switch"
    LOAD_FILAMENT
    RESUME
    RESTORE_GCODE_STATE NAME=FILAMENT_CHANGE

[gcode_macro LOAD_FILAMENT]
default_parameter_L: 50
gcode:
    SAVE_GCODE_STATE NAME=LOAD_STATE
    LOW_TEMP_CHECK
    M83                                 # relative extrusion
    G1 E{L} F1200                       # extrude fast
    G4 P1000                            # dwell 1 second
    G1 E10 F250                         # extrude slow
    RESTORE_GCODE_STATE name=LOAD_STATE

[gcode_macro UNLOAD_FILAMENT]
default_parameter_L: 50
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_STATE
    LOW_TEMP_CHECK
    M83                                 # relative extrusion
    G1 E0.5  F1200                      # clean nozzle
    G1 E-0.5 F1200
    G1 E1.0  F1200
    G1 E-1.0 F1200
    G1 E1.5  F1200
    G1 E-1.5 F1200
    G1 E2.0  F1200
    G1 E-{L} F3000                      # retract a lot
    RESTORE_GCODE_STATE name=UNLOAD_STATE

[gcode_macro LOW_TEMP_CHECK]
default_parameter_T: 200
gcode:
    {% if printer.extruder.target != 0 %} # if there is a setpoint for extruder
        {% if printer.extruder.temperature < printer.extruder.target %} # if not reached, heat
            M118 Heating from {printer.extruder.temperature} to {printer.extruder.target}.
            M109 S{printer.extruder.target|float} 
        {% endif %}
    {% else %} # if no setpoint for extruder
        {% if printer.extruder.target < T %}  # heat to T.
            M118 No setpoint, heating to {T}.
            M109 S{T}
        {% endif %}
    {% endif %}

[gcode_macro COUNTDOWN]
default_parameter_MSG: "Time: "
default_parameter_TIME: 10
gcode: 
    {% for s in range(TIME|int, 0, -1) %} # countdown
        G4 P1000                        # dwell 1 second
        M117 {params.MSG} {s}s          # echo
        M118 {params.MSG} {s}s
    {% endfor %}

# [gcode_macro PURGE]
# gcode:
#     SAVE_GCODE_STATE NAME=PURGE_STATE
#     G91                                  # relative positioning
#     G1 E50 F250                          # purge
#     RESTORE_GCODE_STATE name=PURGE_STATE

# Home #################################

[gcode_macro HOME]
gcode:
    {% if printer.toolhead.homed_axes == "xyz" %}
        M118 Printer is already homed
    {% else %}
        G28
    {% endif %}

# Delayed Save Config ##################

[gcode_macro SAVE_AT_END]
variable_save: 0
gcode:
    SET_GCODE_VARIABLE MACRO=SAVE_AT_END VARIABLE=save VALUE=1
 
[gcode_macro SAVE_IF_SET]
gcode:
    {% if printer["gcode_macro SAVE_AT_END"].save == 1 %}
        G4 P2000                        # dwell 2 seconds
        {action_respond_info("Saving and restarting now")}
        SAVE_CONFIG
    {% endif %}

# Prusa Slicer Compatibility ############

[gcode_macro M204]
rename_existing: M204.1
gcode:
  {action_respond_info("Ignoring M204 Command: Using max_accel from printer.cfg")}

[gcode_macro M201]
gcode:
  {action_respond_info("Ignoring M201 Command")}

[gcode_macro M203]
gcode:
  {action_respond_info("Ignoring M203 Command")}

[gcode_macro M205]
gcode:
  {action_respond_info("Ignoring M205 Command")}

# Bed Levelling ########################

[gcode_macro G29] # Bed Levelling (Automatic)
gcode:
    HOME
    BED_MESH_CALIBRATE
    G0 X10 Y10 F6000
    # BED_MESH_PROFILE SAVE=default
    SAVE_AT_END

[gcode_macro HOT_BED_MESH_CALIBRATE] # Bed Levelling (Automatic) with heated bed
default_parameter_BED_TEMP: 50
gcode:
    M140 S{BED_TEMP}                    # set bed temperature
    M190 S{BED_TEMP}                    # wait for bed temperature
    G29                                 # level bed
    SAVE_IF_SET

# Probe Z-offset Calibation ############

[gcode_macro PROBE_CALIBRATE]
rename_existing: BASE_PROBE_CALIBRATE
#default_parameter_X: 128
#default_parameter_Y: 105
gcode:
    G28                                  # home
    #G1 X{ printer.stepper_x.position_max / 2 } Y{ printer.stepper_y.position_max / 2 }
    BASE_PROBE_CALIBRATE

# Testing Area #########################

[gcode_macro PRIME_BLOB] # SET_GCODE_VARIABLE MACRO=PRIME_BLOB VARIABLE=feedrate VALUE=3000; 500 for TPU
variable_feedrate: 500
default_parameter_E: 20
gcode: 
    G1 Z5 F240                          # move Z Axis up
    G1 E{E} F{feedrate}                 # extrude blob
    G1 Y10 F3000                        # wipe
