################################################################################
# Printer: Flying Bear Ghost 4S
# Board: BTT SKR 1.4 Turbo
################################################################################

########################################
# Instructions
########################################

# Documentation
# https://www.klipper3d.org/Overview.html#configuration-and-tuning-guides
# 
# Examples
# https://github.com/KevinOConnor/klipper/blob/master/config/example.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/example-extras.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/sample-macros.cfg
# https://github.com/KevinOConnor/klipper/blob/master/docs/Command_Templates.md

# BTT SKR 1.4T ########################
#
########################################
# X, Y, Z
########################################

[stepper_x]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
step_distance: .0125 # 16 microsteps 80 steps/mm
# endstop_pin: !P1.29 # check Sensorless Homing
# position_min: 0 # check Sensorless Homing
position_endstop: 0
position_max: 255
homing_speed: 50
## Sensorless Homing
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: P1.10
microsteps: 16
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250
## Sensorless Homing
diag_pin: P1.29
driver_SGTHRS: 80

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .0125 # 16 microsteps 80 steps/mm
# endstop_pin: !P1.28 # check Sensorless Homing
# position_min: 0 # check Sensorless Homing
position_endstop: 0
position_max: 210
homing_speed: 50
## Sensorless Homing
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: P1.9
microsteps: 16
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250
## Sensorless Homing
diag_pin: P1.28
driver_SGTHRS: 80

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
step_distance: .0025 # 16 microsteps 400 steps/mm
# step_distance: .00244 # 16 microsteps 410 steps/mm
# endstop_pin: !P1.28
endstop_pin: probe:z_virtual_endstop
position_min: -3 # < 0 for probe calibration
position_max: 210
homing_speed: 12

[tmc2209 stepper_z]
uart_pin: P1.8
microsteps: 16
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 30

########################################
# E0, E1, HB
########################################

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
step_distance: 0.002409  # (BMG recommended value) - 415,11 steps
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: pid
pid_Kp: 24.050
pid_Ki: 1.513
pid_Kd: 95.598
min_temp: 0
max_temp: 260
max_extrude_only_distance: 50 # 50 direct; 600 bowden
###   PRESSURE ADVANCE CONFIG    ###
# Filament specific g-code (works in (prusa-|super-)slicer)
# SET_PRESSURE_ADVANCE [EXTRUDER=<config_name>] [ADVANCE=<pressure_advance>] [SMOOTH_TIME=<pressure_advance_smooth_time>]
## PLA:
## PLA+
# pressure_advance: 0.20 # eSUN PLA+ Purple
# pressure_advance: 0.40 # eSUN PLA+ Purple
# pressure_advance: 0.54 # eSUN PLA+ Purple
## PETG
# pressure_advance_smooth_time: 0.100
# pressure_advance: 0.50 # eSUN PETG White

[tmc2209 extruder]
uart_pin: P1.4
microsteps: 16
interpolate: False
run_current: 0.600
hold_current: 0.350
stealthchop_threshold: 50

#[extruder1]
#step_pin: P1.15
#dir_pin: P1.14
#enable_pin: !P1.16
#heater_pin: P2.4
#sensor_pin: P0.23
##uart_pin: P1.1

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_Kp: 57.591
pid_Ki: 1.634
pid_Kd: 507.525
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 150

########################################
# Fans
########################################

[fan]
pin: P2.3

[heater_fan heater_fan]
pin: P2.4 # extruder1 heater_pin
# heater: extruder
# heater_temp: 50.0   # fan is on if t℃ > this
# fan_speed: 1.0 # from 0.0 to 1.0

# Controller cooling fan (one may define any number of sections with a
# "controller_fan" prefix). A "controller fan" is a fan that will be
# enabled whenever its associated heater or any configured stepper
# driver is active. The fan will stop, whenever an idle_timeout is
# reached to ensure no overheating will occur after deactivating a
# watched component.
#[controller_fan my_controller_fan]
#pin:
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#   See the "fan" section in example.cfg for a description of the
#   above parameters.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout:
#   The ammount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
#heater:
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".

########################################
# Printer
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0250001322813AAF7F286A5CC02000F5-if00
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
#max_accel: 3000
# max_accel_to_decel: 3000
max_accel: 7000 # Ringing frequency test
max_accel_to_decel: 7000 # Ringing frequency test
max_z_velocity: 12
max_z_accel: 100
square_corner_velocity: 5.0

########################################
# Bed leveling support
########################################

[safe_z_home]
home_xy_position: 127.5,105
z_hop: 15
#move_to_previous: true

[bed_mesh]
speed: 150
mesh_min: 40,10
mesh_max: 235,170
probe_count: 4,4
algorithm: bicubic

### REQUIRES TESTING
# Tool to help adjust bed leveling screws. One may define a
# [bed_screws] config section to enable a BED_SCREWS_ADJUST g-code
# command.

[bed_screws]
screw1: 30,0
#   The X,Y coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to that is directly above the bed
#   screw (or as close as possible while still being above the bed).
#   This parameter must be provided.
screw1_name: front left screw
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
#screw1_fine_adjust:
#   An X,Y coordinate to command the nozzle to so that one can fine
#   tune the bed leveling screw. The default is to not perform fine
#   adjustments on the bed screw.
screw2: 225,0
screw2_name: front right screw
#screw2_fine_adjust:
#...
#   Additional bed leveling screws. At least three screws must be
#   defined.
screw3: 225,210
screw3_name: back right screw
screw4: 30,210
screw4_name: back left screw
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   when moving from one screw location to the next. The default is 5.
#probe_height: 0
#   The height of the probe (in mm) after adjusting for the thermal
#   expansion of bed and nozzle. The default is zero.
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#probe_speed: 5
#   The speed (in mm/s) when moving from a horizontal_move_z position
#   to a probe_height position. The default is 5.

# Tool to help adjust bed screws tilt using Z probe. One may define a
# [screws_tilt_adjust] config section to enable a
# SCREWS_TILT_CALCULATE g-code command.
#[screws_tilt_adjust]
screw1: 30,0
#   The X,Y coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to that is directly above the bed
#   screw (or as close as possible while still being above the bed).
#   This is the base screw used in calculations. This parameter must
#   be provided.
screw1_name: front left screw
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
screw2: 225,0
screw2_name: front right screw
#...
#   Additional bed leveling screws. At least two screws must be
#   defined.
screw3: 225,210
screw3_name: back right screw
screw4: 30,210
screw4_name: back left screw
#speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
#horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
#screw_thread: CW-M3
#   The type of screw used for bed level, M3, M4 or M5 and the
#   direction of the knob used to level the bed, clockwise decrease
#   counter-clockwise decrease.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3, most printers use an M3 screw and
#   turning the knob clockwise decrease distance.

########################################
# Optional G-Code features
########################################

[force_move]
enable_force_move: true # Support manually moving stepper motors

[pause_resume]

[firmware_retraction]
retract_length: 6
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 60

[gcode_arcs]

[respond]

########################################
# Resonance compensation
########################################

[input_shaper]
shaper_freq_x: 43.77
shaper_freq_y: 43.73
# shaper_type: mzv

########################################
# Bed probing hardware
########################################

[bltouch]
sensor_pin: P1.27
control_pin: P2.0
set_output_mode: 5V
x_offset: 37.197
y_offset: -20.358
#z_offset: 2.3

########################################
# gcode_macro
########################################

# Start Print and End Print ############

[gcode_macro START_PRINT]
gcode:
    CLEAR_PAUSE
    G90                                 # absolute positioning
    M82                                 # absolute extruder mode
    G28                                 # home
    # NEW_BED_MESH
    BED_MESH_PROFILE LOAD=default
    PRIME_LINE
    # PRIME_BLOB
    G92 E0                              # reset extruder

[gcode_macro END_PRINT]
gcode:
    TURN_OFF_HEATERS
    M106 S0                             # turn off fan
    G10                                 # firmware retract
    G91                                 # relative positioning
    G1 X-2 Y-2 F300                     # move nozzle away from print
    {% if printer.toolhead.position.z <= 190 %}
        G1 Z10 F3000                    # raise nozzle
        G90                             # absolute positioning
    {% else %}
        G90                             # absolute positioning
        G1 Z200 F3000                   # raise nozzle
    {% endif %}
    G1 X0 Y200 F3000                    # present print
    M84                                 # turn off all motors

# Prime the nozzle #####################

[gcode_macro PRIME_LINE]
variable_e_speed = 1500
default_parameter_X: 0
default_parameter_Y: 10
gcode: 
    SAVE_GCODE_STATE NAME=PRIME_LINE_STATE
    G92 E0                              # reset extruder
    G1 Z2 F240                          # move Z Axis up
    G1 X{X} Y{Y} Z0.28 F3000            # move to start position
    G91                                 # relative positioning
    G1 Y180 F1500 E15                   # draw the first line
    G1 X.3 F5000                        # move to side a little
    G1 Y-180 F1500 E15                  # draw the first line
    RESTORE_GCODE_STATE NAME=PRIME_LINE_STATE
    G92 E0                              # reset extruder

# Pause Print and Resume Print #########

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
    SAVE_GCODE_STATE NAME=PAUSE_STATE
    BASE_PAUSE
    PARK

[gcode_macro PARK]
default_parameter_X: 0                  # edit to your park position
default_parameter_Y: 0                  # edit to your park position
default_parameter_Z: 10                 # edit to your park position
gcode:
    SAVE_GCODE_STATE NAME=PARK_STATE
    G10                                 # firmware retract
    G91                                 # relative positioning
    G1 Z{Z} F3000                       # raise nozzle
    G90                                 # absolute positioning
    G1 X{X} Y{Y} F3000                  # park the head
    RESTORE_GCODE_STATE name=PARK_STATE

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G11                                 # firmware unretract
    RESTORE_GCODE_STATE NAME=PAUSE_STATE MOVE=1
    BASE_RESUME

# [gcode_macro CANCEL_PRINT]
# rename_existing: BASE_CANCEL_PRINT
# gcode:
#     TURN_OFF_HEATERS
#     CLEAR_PAUSE
#     BASE_CANCEL_PRINT

# Filament Change ######################

[gcode_macro M600]
gcode:
    PAUSE
    UNLOAD_FILAMENT

[gcode_macro UNLOAD_FILAMENT]
default_parameter_L: 600
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_STATE
    {% if printer.extruder.temperature <= 190 %}
        M104 S190                     # set hotend temperature
        M109 S190                     # wait for hotend temperature
    {% endif %}
    G91                                  # relative positioning
    G1 E5 F250                           # extrude a little
    G1 E-50 F1000                        # retract filament
    G1 E-{L} F1200                       # retract a lot more
    RESTORE_GCODE_STATE name=UNLOAD_STATE

[gcode_macro LOAD_FILAMENT]
default_parameter_L: 600
gcode:
    SAVE_GCODE_STATE NAME=LOAD_STATE
    {% if printer.extruder.temperature <= 190 %}
        M104 S190                     # set hotend temperature
        M109 S190                     # wait for hotend temperature
    {% endif %}
    G91                                  # relative positioning
    G1 E{L} F1200                        # extrude fast
    G4 P900                              # dwell
    G1 E50 F250                          # extrude slow
    RESTORE_GCODE_STATE name=LOAD_STATE

# [gcode_macro PURGE]
# gcode:
#     SAVE_GCODE_STATE NAME=PURGE_STATE
#     G91                                  # relative positioning
#     G1 E50 F250                          # purge
#     RESTORE_GCODE_STATE name=PURGE_STATE

# Bed Levelling ########################

[gcode_macro G29] # Bed Levelling (Automatic)
gcode:
    G28                                  # home
    BED_MESH_CALIBRATE
    #BED_MESH_PROFILE SAVE=FBG5
    G0 X10 Y10
    SAVE_CONFIG

[gcode_macro HOT_BED_MESH_CALIBRATE] # Bed Levelling (Automatic) with heated bed
default_parameter_BED_TEMP: 50
gcode:
    M140 S{BED_TEMP}                     # set bed temperature
    M190 S{BED_TEMP}                     # wait for bed temperature
    G29                                  # level bed

[gcode_macro LOAD_BED_MESH]
gcode:
    SAVE_GCODE_STATE NAME=LOAD_BED_MESH_STATE
    BED_MESH_PROFILE LOAD=FBG
    RESTORE_GCODE_STATE NAME=LOAD_BED_MESH_STATE

# Probe Z-offset Calibation ############

[gcode_macro PROBE_CALIBRATE]
rename_existing: BASE_PROBE_CALIBRATE
#default_parameter_X: 128
#default_parameter_Y: 105
gcode:
    G28                                  # home
    #G1 X{ printer.stepper_x.position_max / 2 } Y{ printer.stepper_y.position_max / 2 }
    BASE_PROBE_CALIBRATE

# Testing Area #########################

[gcode_macro PRIME_TEST]
### REQUIRES TESTING - NESTED VARIABLES
gcode: 
    SAVE_GCODE_STATE NAME=PRIME_STATE
    G92 E0                              # reset extruder
    G1 Z2 F240                          # move Z Axis up
    # SET_GCODE_VARIABLE MACRO=PRIME_LINE VARIABLE=e_speed VALUE={e_speed}
    # PRIME_LINE
    # SET_GCODE_VARIABLE MACRO=PRIME_BLOB VARIABLE=e_speed VALUE={e_speed}
    # PRIME_BLOB
    RESTORE_GCODE_STATE NAME=PRIME_STATE

[gcode_macro PRIME_LINE_TEST]
### REQUIRES TESTING - NESTED VARIABLES
default_parameter_Y: 10
variable_e_speed = 1500 # SET_GCODE_VARIABLE MACRO=PRIME_LINE VARIABLE=e_speed VALUE=1500; 600 for TPU
gcode: 
    G1 Y{Y} Z0.28 F3000                 # move to start position
    G91                                 # relative positioning
    G1 Y180 F{e_speed} E15              # draw the line
    G1 X.3 F5000                        # move to side a little
    G1 Y-180 F{e_speed} E15             # draw the line

[gcode_macro PRIME_BLOB]
variable_e_speed = 1500 # SET_GCODE_VARIABLE MACRO=PRIME_BLOB VARIABLE=e_speed VALUE=1500; 600 for TPU
default_parameter_E: 20
gcode: 
    G1 E{E} F{e_speed}                  # extrude blob
    G1 Y10 F3000                        # wipe

[gcode_macro clean_nozzle]
gcode:
  SAVE_GCODE_STATE NAME=clean_nozzle_state
  G90
  G0 Z15 F300
  {% for wipe in range(8) %}
    {% for coordinate in [(275,4),(235,4)] %}
      G0 X{coordinate[0]} Y{coordinate[1] + 0.25 * wipe} Z9.7 F12000
    {% endfor %}
  {% endfor %}
  RESTORE_GCODE_STATE NAME=clean_nozzle_state

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.140000, 0.130000, 0.140000, 0.165000
#*# 	  0.142500, 0.072500, 0.047500, 0.040000
#*# 	  0.080000, 0.005000, -0.070000, -0.105000
#*# 	  0.042500, -0.075000, -0.160000, -0.205000
#*# tension = 0.2
#*# min_x = 39.997
#*# algo = bicubic
#*# y_count = 4
#*# mesh_y_pps = 2
#*# min_y = 10.002
#*# x_count = 4
#*# max_y = 169.992
#*# mesh_x_pps = 2
#*# max_x = 234.997
#*#
#*# [bltouch]
#*# z_offset = 1.350
