################################################################################
# Printer: Flying Bear Ghost 4S
# Board: BTT SKR 1.4 Turbo
################################################################################

########################################
# Instructions
########################################

# Documentation
# https://www.klipper3d.org/Overview.html#configuration-and-tuning-guides
# 
# Examples
# https://github.com/KevinOConnor/klipper/blob/master/config/example.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/example-extras.cfg
# https://github.com/KevinOConnor/klipper/blob/master/config/sample-macros.cfg
# https://github.com/KevinOConnor/klipper/blob/master/docs/Command_Templates.md

# BTT SKR 1.4T ########################
#
########################################
# X, Y, Z
########################################

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
step_distance: .00625                   # .0125 @ 16 microsteps 80 steps/mm 1.8° stepper OR .00625 @ 16 microsteps 160 steps/mm 0.9° stepper
# endstop_pin: !P1.29                   # check Sensorless Homing # P1.28 for X-max
# position_min: 0                       # check Sensorless Homing
position_endstop: 0
position_max: 250
homing_speed: 50
# Sensorless Homing ####################
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_x]
uart_pin: P1.10
microsteps: 16
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250
# Sensorless Homing ####################
diag_pin: P1.29
driver_SGTHRS: 150

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
step_distance: .00625                   # .0125 @ 16 microsteps 80 steps/mm 1.8° stepper OR .00625 @ 16 microsteps 160 steps/mm 0.9° stepper
# endstop_pin: !P1.28                   # check Sensorless Homing # P1.27 OR P1.26 for Y-max
# position_min: 0                       # check Sensorless Homing
position_endstop: 0
position_max: 200
homing_speed: 50
# Sensorless Homing ####################
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0

[tmc2209 stepper_y]
uart_pin: P1.9
microsteps: 16
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250
# Sensorless Homing ####################
diag_pin: P1.28
driver_SGTHRS: 150

[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
step_distance: .00125                   # .0025 @ 16 microsteps 400 steps/mm OR .00125 @ 32 microsteps 800 steps/mm
endstop_pin: probe:z_virtual_endstop    # !P1.28 for Z-min # P1.24 for Z-max
position_min: -5                        # < 0 for probe calibration
position_max: 200
homing_speed: 20

[tmc2209 stepper_z]
uart_pin: P1.8
microsteps: 32
interpolate: true
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 30

########################################
# E0, E1, HB
########################################

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
step_distance: .002409                  # 16 microsteps 415,11 steps/mm BMG recommended value
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: ATC Semitec 104GT-2        # EPCOS 100K B57560G104F @ Stock FBG # ATC Semitec 104GT-2 @ Triangle E3Dv6
sensor_pin: P0.24
control: pid
pid_Kp: 24.050                          # ∅0.4 Nozzle
pid_Ki: 1.513                           # ∅0.4 Nozzle
pid_Kd: 95.598                          # ∅0.4 Nozzle
min_temp: 0
max_temp: 270
max_extrude_only_distance: 50           # 50 direct; 600 bowden
# PRESSURE ADVANCE SETTINGS ############
pressure_advance: 0.125
## Filament specific g-code (works in (prusa-|super-)slicer):
## SET_PRESSURE_ADVANCE [EXTRUDER=<config_name>] [ADVANCE=<pressure_advance>] [SMOOTH_TIME=<pressure_advance_smooth_time>]

[tmc2209 extruder]
uart_pin: P1.4
microsteps: 16
interpolate: False
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 50

#[extruder1]
#step_pin: P1.15
#dir_pin: P1.14
#enable_pin: !P1.16
#heater_pin: P2.4
#sensor_pin: P0.23
##uart_pin: P1.1

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_Kp: 57.591
pid_Ki: 1.634
pid_Kd: 507.525
min_temp: 0
max_temp: 130

[verify_heater heater_bed]
max_error: 150

########################################
# Fans
########################################

[fan]
pin: P2.3

[heater_fan heater_fan]
pin: P2.4                               # extruder1 heater_pin
heater_temp: 60.0                       # fan is on if t℃ > this
# fan_speed: 1.0                        # from 0.0 to 1.0

########################################
# Printer
########################################

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_0250001322813AAF7F286A5CC02000F5-if00
baud: 250000
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 3000                         # 3000 # 7000 @ Ringing frequency test
max_accel_to_decel: 2000                # 2000 # 7000 @ Ringing frequency test
max_z_velocity: 20
max_z_accel: 300
square_corner_velocity: 5.0

########################################
# Resonance compensation
########################################

[input_shaper]
#shaper_freq_x: 48.5
#shaper_freq_y: 50.0
#shaper_type: ei

########################################
# Measuring Resonances
########################################
# https://github.com/KevinOConnor/klipper/blob/master/docs/Measuring_Resonances.md

[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None
# axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
#    30,100,20
    120,100,20  # center
#    210,100,20

########################################
# Optional G-Code features
########################################

[force_move]
enable_force_move: true                 # Support manually moving stepper motors

[pause_resume]

[firmware_retraction]
retract_length: 0.5
retract_speed: 60
unretract_extra_length: 0
unretract_speed: 30

[gcode_arcs]

[respond]

########################################
# Bed leveling
########################################

[safe_z_home]
home_xy_position: 88,120
speed: 150
# z_hop: 10
# z_hop_speed: 20
#move_to_previous: true

[bed_mesh]
speed: 200
mesh_min: 38,0
mesh_max: 250,179
horizontal_move_z: 5.5
probe_count: 7,7
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.2
relative_reference_index: 0

[bltouch]
sensor_pin: P1.27
control_pin: P2.0
pin_move_time: 0.5
stow_on_each_sample: False
speed: 10
samples: 2
sample_retract_dist: 2.5
lift_speed: 40
samples_tolerance_retries: 3
set_output_mode: 5V
x_offset: +37.197
y_offset: -20.358

[screws_tilt_adjust]
screw1: 0,20.4                          # Nozzle @ 23,0
screw1_name: front left screw
screw2: 186.8,20.4                      # Nozzle @ 224,0
screw2_name: front right screw
screw3: 186.8,200                       # Nozzle @ 224,200
screw3_name: back right screw
screw4: 0,200                           # Nozzle @ 23,200
screw4_name: back left screw
speed: 150.

########################################
# GCode Macros
########################################

[include macros.cfg]
