########################################
# Resonance compensation
########################################

[input_shaper]
#                                       # by hand
#shaper_freq_x: 48.5
#shaper_freq_y: 50.0
#shaper_type: ei
#                                       # sensor
shaper_type_x = 3hump_ei
shaper_freq_x = 53.4
shaper_type_y = 2hump_ei
shaper_freq_y = 49.1

########################################
# Measuring Resonances
########################################
# https://github.com/KevinOConnor/klipper/blob/master/docs/Measuring_Resonances.md

# [mcu rpi]
# serial: /tmp/klipper_host_mcu

# [adxl345]
# cs_pin: rpi:None
# axes_map: x,y,z

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
# #    30,100,20
#     120,100,20  # center
# #    210,100,20
